@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: hsl(55, 80%, 70%);
}
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html{
  scroll-behavior: smooth;
}
@layer components {
  .link {
    @apply text-light-900 active:text-light-50 active:decoration-light-50 underline hover:text-primary-50 hover:decoration-primary-50 underline-offset-2 decoration-light-950 ;
  }
  .muted-text {
    @apply  text-light-950;
  }
  .label-text {
    @apply text-light-500 ;
  }
  .overlay {
    @apply bg-dark-950/80 ;
  }
  .input-bg{
    @apply bg-dark-700 ;
  }
  .popover-bg{
    @apply bg-dark-800 ;
  }

  .focus-ring {
    @apply ring-offset-dark-500  focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-900 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50
  }
  .prose h1 {
    @apply text-5xl text-pretty mb-8   dark:text-light-50
  }
  .prose h2 {
    @apply text-4xl text-balance mb-7  dark:text-light-100
  }
  .prose h3 {
    @apply text-3xl text-balance mb-6  dark:text-light-200
  }
  .prose h4 {
    @apply text-2xl text-balance mb-5  dark:text-light-300
  }
  .prose h5 {
    @apply text-xl text-balance mb-4  dark:text-light-300
  }
  .prose h6 {
    @apply text-xl text-balance mb-3  dark:text-light-400
  }
  .prose p {
    @apply  text-balance  mb-2  dark:text-light-500
  }
  .prose li {
    @apply list-disc label-text mb-1
  }
  .prose ul {
    @apply list-disc label-text mb-2
  }
  .prose ul ul {
    @apply list-disc pl-3
  }
  .prose ol {
    @apply list-decimal label-text mb-2
  }
  .prose a {
    @apply link
  }
  .prose img {
    @apply rounded overflow-hidden my-4
  }
  .prose blockquote {
    @apply bg-dark-800 label-text italic mb-4   p-3  border-dark-700  
  }
  [dir="rtl"] .prose blockquote {
    @apply rounded-l rounded-r-sm border-r-2
  }
  [dir="ltr"] .prose blockquote {
    @apply rounded-r rounded-l-sm border-l-2 
  }
  .prose code {
    @apply bg-dark-950 border-dark-500  text-light-950  shadow-sm  border px-2 rounded
  }
  .prose pre code {
    @apply bg-inherit border-none px-0 shadow-none
  }
  .prose .code-renderer {
    @apply mb-12
  }
  .prose .code-header p {
    @apply !m-0 !text-xs
  }
  .prose  {
    @apply muted-text
  }
  .prose hr  {
    @apply border-dark-700  mb-4 
  }
  .prose kbd {
    @apply bg-dark-700  border border-t-dark-300  px-1 rounded-lg border-dark-400   text-light-950 shadow-sm text-xs  shadow-dark-50/20 
  }

}
/* Specify the width and color of the scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}



/* Handle of the scrollbar */
*::-webkit-scrollbar-thumb {
  background-color: var(--dark-500);
  border-radius: 5px;
}

/* Track of the scrollbar */
*::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Specify the width and color of the scrollbar for Firefox */
/* Note: Firefox supports scrollbar styling using `scrollbar-color` and `scrollbar-width` properties */
/* For simplicity, this example assumes Firefox 64 and later versions that support these properties */
/* For older versions of Firefox, you may need to use -moz properties */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-500) transparent;
}

/* Specify the width and color of the scrollbar for Internet Explorer and Edge */
/* Note: This example assumes Microsoft Edge Chromium or later versions */
/* For Internet Explorer, you may need to use -ms properties */
*::-ms-scrollbar {
  width: 6px;
}

*::-ms-thumb {
  background-color: var(--dark-500);
  border-radius: 5px;
}

*::-ms-track {
  background-color: transparent;
}







  .code-scrollbar:not(.light)::-webkit-scrollbar-thumb {
    background-color: var(--dark-700);
    border-radius: 5px;
  }
  .code-scrollbar:not(.light){
    scrollbar-color: var(--dark-700) transparent;
  }
  .code-scrollbar:not(.light)::-ms-thumb{
    scrollbar-color: var(--dark-700) transparent;
  }



  html.light .code-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}
html.light .code-scrollbar{
  scrollbar-color: white transparent;
}
html.light .code-scrollbar::-ms-thumb{
  scrollbar-color: white transparent;
}



@keyframes jumbo {
  from {
      background-position: 50% 50%, 50% 50%;
  }
  to {
      background-position: 350% 50%, 350% 50%;
  }
}

.jumbo {
--stripes: repeating-linear-gradient(
  100deg,
  hsl(0, 0%, 0%) 0%,
  hsl(0, 0%, 0%) 7%,
  transparent 10%,
  transparent 12%,
  hsl(0, 0%, 0%) 16%
);
--rainbow: repeating-linear-gradient(
    100deg,
    hsl(225, 100%, 50%) 10%,
    hsl(225, 100%, 53%) 15%,
    hsl(225, 100%, 47%) 20%,
    hsl(225, 100%, 31%) 25%,
    hsl(225, 100%, 50%) 30%
);
background-image: var(--stripes), var(--rainbow);
background-size: 300%, 200%;
background-position: 50% 50%, 50% 50%;

filter: blur(10px) opacity(50%) saturate(200%);

mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
pointer-events: none;
}

.jumbo::after {
content: "";
position: absolute;
inset: 0;
background-image: var(--stripes), var(--rainbow);
background-size: 200%, 100%;
animation: jumbo 90s linear infinite;
background-attachment: fixed;
mix-blend-mode: difference;
}


@layer demo {
  .highlighted-text-shadow {
    text-shadow:
      /* regular text-shadow */
      0 .15ch 15px var(--shadow),
      /* text-shadow highlight */
      0 -2px 0 var(--highlight);
  }
}


.hero-button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: hsl(225, 0%, 50%);
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid hsl(225, 0%, 50%);
  transition: 0.5s ease;
  user-select: none;
}
.hero-secondary-button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  transition: 0.5s ease;
  user-select: none;
}

.hero-button:hover {
  color: #ffffff;
  background: hsl(225  , 85%, 45%);
  border: 1px solid hsl(225  , 85%, 45%);
  text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff;
  box-shadow: 0 0 5px hsl(225  , 85%, 45%),
              0 0 20px hsl(225  , 85%, 45%),
              0 0 50px hsl(225  , 85%, 45%),
              0 0 100px hsl(225  , 85%, 45%);
}